.btnUpload{
    background-color: #435334!important;
    border-color: #435334 !important;
}

.btnUpload:hover{
    background-color: #9EB384 !important;
    color: #435334 !important;
    border-color: #9EB384 !important;

}

.uploadForm{
  padding-top: 15px;
  padding-bottom: 15px;  
  margin-left: 1px !important ;
  border: solid 1px #dee2e6;
  border-radius: 5px;
  background-color: whitesmoke;

}

